* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------PAGE SECTIONS--------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

nav {
	/* float: right; */
	/* margin-top: 10px; */
}

/* .clearfix::after {
	clear: both;
	content: '';
	display: block;
} */
.top-header {
	background-color: #f7f7f7;
	padding: 40px 20px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.art-header {
	margin-bottom: 30px;
}

article {
	/* float: left; */
	max-width: 825px;
}

aside {
	/* float: right; */
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 50px 40px;
	max-width: 300px;
}

footer {
	/* clear: both; */
}

/* ---------------HEADINGS ----------------- */
h1,
h2,
h3 {
	color: #1098ad;
}

h1 {
	text-transform: uppercase;
	font-style: italic;
	/* float: left; */
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	position: relative;
}

h3 {
	margin-bottom: 20px;
}
h5 {
	text-align: center;
	text-transform: uppercase;
}

/* ------------------------------------------- */

p {
	font-size: 1.125rem;
	line-height: 1.4;
	margin-bottom: 15px;
}

ul,
ol {
	margin-left: 30px;
	margin-bottom: 20px;
}

li {
	margin-bottom: 10px;
}

li:last-child {
	margin-bottom: 0;
}

.author {
	/* float: left; */
	margin-top: 10px;
	margin-left: 20px;
}

.author-box {
	display: flex;
}

.small_text {
	font-size: 0.75rem;
	font-weight: 600;
}

.related {
	list-style: none;
	margin-left: 0;
}

a:link {
	color: #1098ad;
	text-decoration: none;
}

a:hover {
	color: orangered;
	font-weight: bold;
}

/* .copyright {
	color: ;
} */

/* ------------IMAGES---------------- */
.author-img {
	/* float: left; */
	max-width: 5%;
	height: auto;
	margin-bottom: 20px;
}

.post-img {
	max-width: 100%;
}

.list-img {
	max-width: 30%;
	height: auto;
}
/* ---------------------------------- */

nav a:link {
	display: inline-block;
	margin-right: 20px;
}

nav a:link:last-child {
	margin-right: 0;
}

button {
	font-size: 1.5rem;
	padding: 20px;
	cursor: pointer;
	position: absolute;
	bottom: 50px;
	right: 50px;
}

h1::first-letter {
	font-style: normal;
	margin-right: 5px;
}

h2::after {
	content: 'TOP';
	background-color: #ffe70e;
	font-size: 0.85rem;
	font-weight: bold;
	color: #000;
	display: inline-block;
	padding: 5px 10px;
	position: absolute;
	top: -15px;
	right: -25px;
}
